.contenedor {
    display: grid;
    gap: 2.4rem;
}

.articulo-mvv {
    display: grid;
}

.articulo-mvv__imagen {
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.mvv-informacion {
    padding: 4rem;
    color: white;
    border-radius: 0 0 15px 15px;
}

.mvv-informacion__titulo {
    margin-top: 0;
}

.mvv-informacion--mision {
    background-color: var(--bordo-oscuro);
}

.mvv-informacion--vision {
    background-color: var(--marron);
}

.mvv-informacion--valores {
    background-color: var(--naranja);
}

@media (min-width: 768px) {

    .contenedor {
        grid-template-rows: repeat(3, 1fr);
    }

    .articulo-mvv {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        overflow: hidden;
    }

    .articulo-mvv__imagen {
        border-radius: 15px 0 0 15px;
    }

    .mvv-informacion {
        border-radius: 0 15px 15px 0;
    }
}