h1 {
    color: white;
}

.principal {
    background-size: cover; 
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal--contacto {
    background-image: url(../imagenes/contacto.webp); 
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.883);
}

.seccion-formulario {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 60rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    gap: 2.4rem;
    border-radius: 2rem;
    padding: 3rem;
    margin: 0;
}

.formulario__errores {
    text-align: center;   
    display: none; 
}

.formulario__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    color: white;
    font-weight: bold;
}

.formulario__campo {
    border-radius: 1.25rem;
    height: 4rem;
    border: none;
    padding: 1rem;
    width: 100%;
}

.formulario__campo--textarea {
    height: 15rem;
    resize: none;
}

.boton--formulario {
    width: 100%;
}

.formulario__parrafo {
    color: white;
}