@font-face {
    font-family: "Open Sans";
    src: url(/root/recursos/fuentes/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Noto Serif";
    src: url(/root/recursos/fuentes/NotoSerif/NotoSerif-VariableFont_wdth\,wght.ttf);
    font-weight: 700;
}

:root {
    font-family: "Open Sans", sans-serif;
    
/* Lectura: 12 16 20 24 28 - Títulos: 32 40 48 */

    --navegacion: 1.6rem;
    --parrafo: 1.6rem;
    --subtitulo: 3.2rem;
    --titulo: 4rem;
    --titulo-sombra: 0 0 0.07em rgba(0, 0, 0, 0.30);
    --sombra-header-footer: 1px 0px 10px 1px rgba(0, 0, 0, 0.13);
    
    --ajusteViewport: calc(100dvh - 8rem);

    --bordo: #cb0101;
    --bordo-oscuro: #2e1515;
    --marron: #2e1f15;
    --naranja: rgb(73, 23, 0);
    --rojo: #b80000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* Transforma 1 rem a 10px. Previamente era 1 rem a 16px*/
}

body {
    background: #ffffef;
}

.contenedor-contenido-principal {
    max-width: 120rem;
    margin: 0 auto;
    padding: 80px 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif";
}

h1, h2 {
    font-size: var(--titulo);
    text-align: center;
    margin-bottom: 2.4rem;
    text-shadow:var(--titulo-sombra);
    color: var(--bordo); 
}

h3 {
    margin-bottom: 2.4rem; 
}

h3, h4 {
    font-size: var(--subtitulo);
}

p {
    font-size: var(--parrafo);
}

input, textarea, select, label, li {
    font-size: var(--parrafo);
}

.boton {
    display: inline-block;
    font-size: var(--parrafo);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: var(--rojo);
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: #800000;
}

a {
    text-decoration: none;
    color: black;
    height: 100%;
    font-size: var(--navegacion);
}

button {
    font-family: "Open Sans", sans-serif;
}

header > a {
    display: flex;
    align-items: center;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 2rem;

    position: sticky;
    top: 0;
    background-color: #ffffff;

    box-shadow: var(--sombra-header-footer);
    -webkit-box-shadow: var(--sombra-header-footer);
    -moz-box-shadow: var(--sombra-header-footer);

    z-index: 10;
}

.cabecera__logotipo {
    height: 100%;
    width: auto;
}

.navegacion {
    display: none;
}

.navegacion__boton {
    all: unset;
    display: block;  
    cursor: pointer;
    z-index: 999;
}

.navegacion__icono {
    width: 4rem;
}

 .navegacion__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    margin-top: 8rem;
    padding: 3rem;
}

.overlay-menu {
    display: none;
}

.overlay-menu--abierto {
    display: block;
    background-color: rgba(0, 0, 0, 0.436);
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: 100vh;
    z-index: 900;
}

.no-scroll {
    overflow: hidden;
}

.navegacion__item {
    list-style-type: none;
}

.navegacion--abierta {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30rem;
    display: flex; 
    flex-direction: column;
    background-color: white;
    z-index: 950;
}

.navegacion__item:hover a {
    border-bottom: 2px solid var(--bordo);
    color: var(--bordo);
}

.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    background-color: #ffffff;
    box-shadow: var(--sombra-header-footer);
    -webkit-box-shadow: var(--sombra-header-footer);
    -moz-box-shadow: var(--sombra-header-footer);
}

.pie__informacion {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pie__link {
    display: flex;
    align-items: center;
}

.pie__icono {
    width: 4rem;
}

.seccion-introduccion {
    height: var(--ajusteViewport); /* Alto del viewport - alto de la barra de navegación */
    overflow: hidden; /* Para que la iamgen no se exceda del tamaño del contenedor (elemento padre) */


    position: relative; /* Mantiene el elemento en su lugar dentro del flujo (es decir, no saca el elemento de su sitio natural). */

    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-introduccion__parrafo {
    position: absolute;   /* permite que quede encima de la imagen */
    z-index: 2;
    color: white;
    padding: 10%;
    font-size: var(--subtitulo);
    text-align: center;
}

.imagen-fondo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imagen-fondo__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.78);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Tablet */
@media (min-width: 768px) {
    /* :root {
        --parrafo: 2.5rem; 
        --input: 1.8rem;
        --titulo: 5rem;
        --subtitulo: 4rem;
    } */
}

/* Escritorio */
@media (min-width: 1024px) {

    /* :root {
        --navegacion: 2rem;
    } */

    .cabecera {
        justify-content: space-around;
    }

    .navegacion__boton {
        display: none;
    } 

    .pie__informacion {
        flex-direction: row;
        gap: 3.3rem;
    }

    .navegacion {
        display: flex;
        height: 100%;
    }

    .navegacion__lista {
        all: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .overlay-menu {
        display: none;
    }
}