.seccion-miniwine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 10%;
    gap: 2rem;
}

.seccion-miniwine__titulo, .seccion-productos__titulo {
    color: var(--bordo);
    text-shadow: var(--titulo-sombra);
}

.seccion-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 0rem 10%;
}

.contenedor {
    display: grid;
    gap: 4rem;
}

.articulo-producto {
    display: grid;
}

.articulo-producto__imagen {
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.producto-informacion {
    padding: 4rem;
    color: white;
    border-radius: 0 0 15px 15px;
}

.producto-informacion__titulo {
    margin-top: 0;
}

.producto-informacion--packs {
    background-color: var(--bordo-oscuro);
}

.producto-informacion--individual {
    background-color: var(--marron);
}

.seccion-delivery {
    padding: 2rem;
    max-width: 1200px;
    margin-top: -2.5rem;
    /* Aseguramos que el contenedor use flex vertical para celular */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.seccion-delivery__texto {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.seccion-delivery__lista {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    /* Bajamos a 1.2rem; 2rem es demasiado para celular */
    font-size: 1.4rem; 
}

.seccion-delivery__lista li {
    margin-bottom: 0.8rem;
    border-left: 3px solid var(--bordo); 
    padding-left: 10px;
}

iframe {
    width: 100%;
    display: block;
    border: none;
}

/* Configuracion de Flexbox */
.seccion-delivery__contenedor {
    display: flex;
    flex-direction: column; /* Móvil: Uno abajo del otro */
    gap: 2rem; /* Espacio entre el texto y el mapa */
}

/* Tarjeta del mapa para que no pierda el estilo que te gustó */
.seccion-delivery__tarjeta-mapa {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {

    .contenedor {
        grid-template-rows: repeat(2, 1fr);
    }

    .articulo-producto {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        overflow: hidden;
    }

    .articulo-producto__imagen {
        border-radius: 15px 0 0 15px;
    }

    .producto-informacion {
        border-radius: 0 15px 15px 0;
    }
    .seccion-delivery__contenedor {
        flex-direction: row; /* PC: Lado a lado */
        align-items: flex-start; /* Alinea el contenido arriba */
    }

    .seccion-delivery__info, .seccion-delivery__mapa {
        flex: 1; /* Ocupa la mitad */
        align-items: start;
    }

}